.hb-blog-sidebar-posts {
    .hb-blog-post-title {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    .hb-blog-post-title-link {
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .hb-blog-post-card-img,
    .hb-blog-post-card-img-none {
        height: 120px;
    }
}
