.hb-blog-post-content {
    h2 {
        &:not(:first-child) {
            margin-top: 3rem;
        }
    }

    > h3 {
        margin-top: 2rem;
    }

    h4,
    h5,
    h6 {
        margin-top: 0.5rem;
    }
}
