.hb-blog-post-meta {
    align-items: center;
    color: var(--#{$prefix}tertiary-color);
    display: flex;
    font-size: 0.825rem;
    flex-wrap: wrap;

    span {
        margin: 0.125rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:not(:last-child) {
            &::after {
                content: "·";
                padding-left: 0.25rem;
            }
        }
    }
}
