.hb-blog-post-meta {
    align-items: center;
    color: var(--#{$prefix}secondary-color);
    display: flex;
    font-size: 0.825rem;
    flex-wrap: wrap;

    span {
        margin: 0.35rem 0.125rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:not(:last-child) {
            &:not(.hb-blog-post-taxonomy-meta) {
                &::after {
                    content: "·";
                    padding-left: 0.25rem;
                }
            }
        }
    }

    .hb-blog-post-author-link {
        margin-right: 0.175rem;
        padding: 0 0.275rem;

        &:first-child {
            margin-left: -0.275rem;
        }
    }

    .hb-blog-author-img,
    .hb-blog-author-img-none {
        height: 20px;
        width: 20px;
    }
}
