.hb-blog-post-summary {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    p:last-child {
        margin-bottom: 0;
    }
}
