.hb-blog-post-toc {
    grid-area: toc;

    @include media-breakpoint-down(lg) {
        color: var(--#{$prefix}body-color) !important;
        margin: 0.5rem 0 1rem;

        /* stylelint-disable selector-id-pattern */
        #TableOfContents {
            font-size: 1rem !important;
        }
        /* stylelint-enable selector-id-pattern */
    }

    @include media-breakpoint-up(lg) {
        @if $hb-blog-toc-position != 'content' {
            height: calc(100vh - var(--#{$prefix}top-offset));
        }

        @include top-offset;

        scrollbar-width: thin;

        &:hover {
            scrollbar-color: var(--#{$prefix}primary) transparent;
        }
    }
}

@include media-breakpoint-up(md) {
    .hb-blog-post-toc-collapse {
        display: block !important;
    }
}
