{{- define "main" }}
  <h1 class="mb-3 text-center h4">
    {{- .Title -}}
    <small class="ms-1 text-secondary">({{- len .Data.Pages -}})</small>
  </h1>
  <div class="row row-cols-1">
    {{- range $i, $page := sort .Data.Pages ".Data.Pages" "desc" }}
      <div class="hb-blog-term-author col d-flex mb-3 border-top pt-3">
        {{- $img := partial "hb/modules/blog/author/image" (dict
          "Page" .
          "Placeholder" false
          "ClassName" "hb-blog-term-img img-fluid rounded-circle")
        }}
        {{- with $img }}
        <div class="flex-shrink-0 me-3 d-flex align-items-center">{{ $img }}</div>
        {{- end }}
        <div class="flex-grow-1 d-flex flex-wrap">
          <div class="flex-grow-1 d-flex justify-content-center flex-column">
            <h2 class="h5">
              <a class="text-decoration-none" href="{{ .RelPermalink }}">
                {{- .Title -}}
              </a>
            </h2>
            {{- with  .Description }}
              <p class="text-body-secondary mb-0">{{ . }}</p>
            {{- end }}
          </div>
          <div class="flex-shrink-0 ms-2 d-none d-lg-block">
            {{ partialCached "hb/modules/blog/term/metrics" . . }}
          </div>
        </div>
      </div>
    {{- end -}}
  </div>
{{- end -}}
