@if $hb-blog-sidebar {
    .hb-blog-main-container {
        @include media-breakpoint-up(lg) {
            display: grid;
            grid-gap: 1rem;
            grid-template-areas: "sidebar main";
            grid-template-columns: 1fr minmax(0, 3fr);
        }

        @include media-breakpoint-up(xl) {
            grid-template-columns: 1fr minmax(0, 4fr);
        }
    }

    .hb-blog-sidebar {
        grid-area: sidebar;

        @include media-breakpoint-up(lg) {
            height: calc(100vh - 80px);
            overflow: auto;

            @include top-offset(sticky);
        }
    }

    .hb-blog-main {
        grid-area: main;
    }
}
