{{- $hasSidebar := partialCached "hb/modules/blog/functions/has-sidebar" . }}
$hb-blog-sidebar: {{ $hasSidebar }};
$hb-blog-sidebar-position: {{ default "start" site.Params.hb.blog.sidebar.position }};
$hb-blog-sidebar-width: {{ default 0.35 site.Params.hb.blog.sidebar.width }};
$hb-blog-sidebar-max-width: {{ default "320px" site.Params.hb.blog.sidebar.max_width }} !default;
$hb-blog-sidebar-sticky: {{ default true site.Params.hb.blog.sidebar.sticky }};
$hb-blog-home-pinned-posts-pos: '{{ default "" site.Params.hb.blog.home.pinned_posts_position }}';

// ToC
$hb-blog-toc-position: {{ default "end" site.Params.hb.blog.toc.position }};

// Thumbnail
$hb-blog-post-thumbnail-height: {{ default "160px" site.Params.hb.blog.post_thumbnail_height }};
